# Основной стандарт и база стиля
Language:        Cpp
BasedOnStyle:    Google

# Включает автоматическое добавление/исправление комментариев у namespace
FixNamespaceComments: true

# Рекомендуется также указать стандарт, чтобы форматирование было корректным
Standard: Latest

# Настройки отступов и колонок
# Расстояние для модификаторов (public, private). 
# При IndentWidth: 4 и значении -4, они будут прижаты к левому краю.
AccessModifierOffset: -4

# Ширина основного отступа (табуляция/пробелы)
IndentWidth:     4

# Максимальная длина строки. После этого лимита clang-format будет переносить код.
ColumnLimit:     120

# Настройки заголовков (include)
# Сохранять блоки инклюдов так, как они разделены пустой строкой в коде.
IncludeBlocks:   Preserve

# Отключает автоматическую сортировку инклюдов (по алфавиту). 
# Позволяет расставлять их вручную в нужном порядке.
SortIncludes:    Never

# Настройки препроцессора и структуры
# Добавляет отступ для директив #if, #define после символа решетки (#    if)
IndentPPDirectives: AfterHash

# Добавляет пустую строку в самый конец файла (стандарт хорошего тона в POSIX)
InsertNewlineAtEOF: On

# Управление вложенностью пространств имен
# All — добавляет отступ для всего содержимого внутри namespace.
# Это решит твою проблему "слипания" namespace и классов.
NamespaceIndentation: All